#homepage {
    background-color: #86add7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

body {
    background-image: url("static/img/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    margin-top: 100px;
}