<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <title>Signup | SpaceNow</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
    </head>

<body>
    {% include 'navbar.html' %}
    {% if user.is_authenticated %}
    <h3> You're already logged in!</h3>
    {% else %}
    <div class = "content-section mt-1">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4"> Register</legend>
                {{form.as_p}}

                <div class = "form-group">
                    <button class = "btn btn-outline-info" type = "submit">Sign Up</button>
                </div>
                <div class = "border-top pt-3">
                    <small class="text-muted">
                        Already Have an Account? <a class = "ml-2" href = '{%url "login"%}' >click here.</a> 
                    </small>
                </div>
            </fieldset>
        </form>
    </div>
    
    <div id = "tabs">
    <h3> Meet the team!</h3>
    <ul>
        <li><a href="#fiqri">Fiqri</a></li>
        <li><a href="#kyosena">Kyosena</a></li>
        <li><a href="#naura">Naura</a></li>
        <li><a href="#yunie">Yunie</a></li>
    </ul>
      <div  id="fiqri">
        <div class="text-center">
                <a title = " Fiqri, dengan senyuman manis nya"><img src = "{% static 'img/fiqri.png' %}" class =rounded mx-auto d-block style = "width:250px"></a>
            <p class = "mt-2">Fiqri menangani user-authentication app kita berdasarkan data yang berada di database. Dia menangani proses login dan logout. <br/>Selain itu, dia juga menginisialisasikan git dan heroku bersama Naura.</p>
        </div>
      </div>
      <div id="kyosena">
            <div class="text-center">
                    <a title = "Kyosena,dengan senyuman biasanya nya"><img src = "{% static 'img/kyo.jpg' %}" class =rounded mx-auto d-block style = "width:250px"></a>
                <p class = "mt-2">Kyo menangani proses signup dan memastikan data signup dapat diakses oleh fiqri untuk digunakan.<br/> Selain itu, kyo membantu membuat price estimation untuk menyewa space.</p>
            </div>
      </div>
      <div id="naura">
            <div class="text-center">
                    <a title = "Naura, dengan minuman nya"><img src = "{% static 'img/naura.jpg' %}" class =rounded mx-auto d-block style = "width:250px"></a>
                <p class = "mt-2">Naura Menangani core content kita, dari mendisplay spaces yang tersedia, memasukan dan menampilkan spaces yang diinput user,hingga mengkalkulasi harga.Selain itu, dia juga menginisialisasikan git dan heroku bersama fiqri.</p>
            </div>
    </div>
    <div id = "yunie">
        <div class="text-center">
                <a title = "Yunie, di senja"><img src = "{% static 'img/yunie.jpg' %}" class =rounded mx-auto d-block style = "width:250px"></a>
            <p class = "mt-2">Yunie menangani fitur "review" di aplikasi kita. Dia memastikan input orang masuk dan dapat kita baca, dan dapat ditampilkan bila diperlukan.<br/> Selain itu, yunie membantu debugging code kelompok secara umum.</p>
        </div>
    </div>
</div>
<h3> Want to check the weather in your area?</h3>
<p> City : <input type = "text" id = "city"> </p>
<button class = "btn btn-outline-info" id = "check"> Check</button>
<h3> Weather forecasts</h3>
<ul id = weathers></ul>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#tabs").tabs();
        $(document).on('keypress', function(e) {
            var tag = e.target.tagName.toLowerCase();
            if ( e.which === 119 || tag == 'input' || tag != 'textarea') 
            $(tag).css("background-color","cyan");
        });
        $(document).on('keyup', function(e) {
            var tag = e.target.tagName.toLowerCase();
            if ( e.which === 119 || tag == 'input' || tag != 'textarea') 
            $(tag).css("background-color","white");
        });
        $( function() {
            $( document ).tooltip();
        });

        $("#check").on("click",function() { 
            var weathers = $("#weathers");
            var city = $("#city").val();

            $.ajax({
            type : 'GET',
            url:"http://api.openweathermap.org/data/2.5/weather?appid=8bf5dd66d3e2fe9e1c6dac58eee67b95&q=" + city,
            dataType : 'json',
            success:function(weatherer){
                weathers.append("<li> City :" + city + "<br/>" + " Weather : "+ weatherer.weather[0].main + "<br/>" + "Desc : " + weatherer.weather[0].description);
            },
            error: function() {
                alert("can't find that city.");
            }
            });
        });
    });
</script>
{% endif %}
</body>