{% load static %}

<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet" type="text/css">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">

    <link rel="icon" href="/static/img/spacenow.jpg">
    <title>SpaceNow</title>
</head>


<body id="homepage">

    <header>
        {% include 'navbar.html' %}
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    </header>
    <center>

        <img style="border-radius: 100px;" src="/static/img/spacenow.jpg" alt="SpaceNow">

        <h1 style="margin-top: 50px;">
            We make it easy for you to find the right <br> space for every ocassion.
        </h1>

        <a href='/login'><button class="btn btn-secondary" style="margin: 20px;"> Login </button></a>  <a href='/signup'><button class="btn btn-primary" style="margin: 20px;"> Signup </button> </a>

    </center>

    </div>
</body>


</html>