{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | SpaceNow</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">


</head>

<body>
    <header>
        {% include 'navbar.html' %}
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    </header>

    <center>
        <h1 style="color:#2a70f1 ; margin-top : 50px;"> {{judul}} </h1>
        <br>

        <form method="POST">
            <div class="kotak">

                {% csrf_token %} <br>
                <label for="username"> Username :</label> <br>
                <input type="text" name="username" id="username"> <br>
                <label for="password"> Password :</label> <br>
                <input type="password" name="password" id="password"> <br>

                <button class="btn btn-secondary" type="submit" onclick="myFunction()"> Login </button> <br><br>
                <!-- <script>
                    function myFunction() {
                        if (input != None) {
                            continue;
                        } else {
                            alert("I am an alert box!");
                        }

                    }
                </script> -->
            </div>

        </form>

        <p style="font-size: 24px;"> Haven’t got any account yet? </p> <br>
        <a href="/signup/" style="font-size: 24px;"> Click Here </a>




    </center>


</body>

</html>