th{
    vertical-align: top;
    text-indent:-20%;
  }
  .small{
    margin:0px 0px 0px;
  }
  button{
    border-radius : 38px; 
    font-family:muli; 
    font-size:2vw; 
    margin-top:1%; 
    padding : 0.5%;
  }
  .textBox {
      position: relative;
      background: #2F4B6E;
      box-sizing: border-box;
      border-radius: 50px;
      margin-left:-15%;
      padding:8%; 
      width: 130%;
  }
  .button{ 
      font-family: Muli;
      font-style: normal;
      font-weight: bold;
      font-size: 1vw;
      text-align: center;
      color: black !important;
      padding: auto ;
      width:auto ;
      letter-spacing: 0.1em;
  
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
    }
  
  .contactForm{
    font-family: Muli;
    font-size:1.5vw;
    font-style: normal;
    color:white;
  }
  
  .stay{
      color: #2F4B6E !important; 
      letter-spacing: 0.1em;
      font-family: Muli;
      font-style: normal;
      font-weight: bold;
      font-size: 1vw;
      text-align: center;
      padding: auto;
      width: auto;
  }
  
  .button:hover {
    background-color: #C4C4C4 ; 
    border-radius: 12px;
  }
  