{% load static %}
<!DOCTYPE html>

<html lang = "en">
    <head>
        <title>Pricing | SpaceNow</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- <link rel ="stylesheet" href = "{% static 'spaces.css' %}"> -->
        <!-- <link rel="icon" href="/static/img/spacenow.jpg"> -->

        <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        {% include 'navbar.html' %}
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <div class="text-center my-5 container">
            <h3 class="text-center fonttitle" > This is the estimated price for your rent:  </h3>
            <br>
            <h3 class = "text center fontingform"> IDR {{harga}}  </h3>
            <br>
            <br>
            <h3 class="text-center fonttitle" > Not from Indonesia? Simply convert the currency below.   </h3>
            <script src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
            <script src="http://www.google.com/jsapi" type="text/javascript"></script>
            <script src="http://www.geoplugin.net/ajax_currency_converter.gp" type="text/javascript"></script>
            <br>
            <input type='text' id='gp_amount' size='4' /> 
            <select id="gp_from"></select> to <select id="gp_to"></select>
            <br>
            <br>
            <p><input type='button' onClick='gp_convertIt()' value = 'Convert' /></p>
            <div id="gp_converted"></div>
            <script>gp_currencySymbols()</script>


        </div>
    </body>
</html>
