{% load static %}
<!DOCTYPE html>

<html lang = "en">
    <head>
        <title>Pricing | SpaceNow</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel ="stylesheet" href = "{% static 'css/rent.css' %}">

        <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    
        <body>
            {% include 'navbar.html' %}

            <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

            <div class= "container my-5" >
                <div class = "text-center">
                    <table>
                        <br>
                        <br>
                        <br>
                        <h3 class = fontingform> This is the rent fee for each hour of your bookings</h3>
                        <br>
                        <h3>IDR {{rentee.harga}} /hour</h3><br>
                        <form class= "rentajax" method = "POST">
                            {% csrf_token %}
                            <br>
                            <h3 class = fontingform> How long will you rent the space for?<br></h3>
                            <br>
                            <h3 id =renthours>{{form.jam}} hour(s). </h3> <br> 
                            <!-- <input type="submit" value="Submit">  -->
                            <button id="btncal" class = "btn btn-dark border-white"type="submit" >Calculate </button>
                            <br>

                        </form>
                        
                    </table>
              </div>    
            </div>

            <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

            <script>
                $(document).ready(function(){
                   var rentform = $('.rentajax')
                   rentform.submit(function(event){
                       event.preventDefault(); 
                       var thisform = $(this)
                    //    var action = thisform.attr("action"); 
                       var httpmethod =thisform.attr('method'); 
                       var formdata = thisform.serialize();

                       $.ajax({
                           url: 'rent/<int:id>',
                           method: httpmethod, 
                           data : formdata, 
                           success: function (data){

                           }, 
                           
                       })

                    })
                })

            </script> 
         jQuery first, then Popper.js, then Bootstrap JS 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    </body>
</html>
