{% load static %}
<!DOCTYPE html>



<html lang = "en">
    <head>
        <title>Spaces | SpaceNow</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script async src="https://cse.google.com/cse.js?cx=000834121971183869900:sfmmc3vsxzy"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel ="stylesheet" href = "{% static 'css/spaces.css' %}">
        <!-- <link rel="icon" href="/static/img/spacenow.jpg"> -->

    </head>
    <body>
    {% include 'navbar.html' %}
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">


        <!--HASIL FORM-->
        <div class = text-center>
            <br>
            <br>
            <p class="fonttitle"> Our spaces </p>
            <h6>You can find out more about the spaces by searching below. </h6>
            <div class="gcse-search"></div>
            <br>
        </div>

         <!--SEARCH BAR-->
         <!-- <div class = "my-5 container">
                <form method="POST" action = "listfilter">
                    {% csrf_token %}
                    <div class = 'col-lg-4 col-md-4 col-sm-4 col-xs-4'>
                        <input type="text" class="form-control" placeholder= "Enter space type or city">
                    </div>
                    <label class = "col-lg-2">
                        <button type="submit" class="btn btn-sm btn-light">Search</button>
                    </label>
                </form><br><br>
            </div> -->

        

        <div class='container-fluid row'>
            {% for e in previous %}
                <div class='col-lg-3 col-md-3 col-sm-12 col-xs-12' id='kotakspaces'>
                    <!-- masukin if foto disini-->
                    
                    <form method = 'POST'>
                      
                        <h3 class= "text-center fontjudul">{{e.nama}}</h3>
                        <h5 class = "text-center fontdeskripsi">{{e.kota}}</h5>
                        <h5 class = "text-center fontdeskripsi">Space Type : {{e.tipe}}</h5>
                        <h5 class = "text-center fontdeskripsi">IDR {{e.harga}} / hour</h5>
                        <a  id= "btnspc" class ="text-center fontingform" href = "/rent/{{e.id}}"> Rent Now</a>

                    
                </div>
            {% endfor %}

        </div>


        
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  

</body>
</html>