{% load static %}
<!DOCTYPE html>

<html lang = "en">
    <head>
        <title> SpaceNow</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel ="stylesheet" href = "{% static 'css/review.css' %}">
        <link rel="icon" href="/static/img/SpaceNow.jpg">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </head>


    <body>
        {% include 'navbar.html'%}
        <center><h1 style = "padding-top:5%; font-size:30px; font-family: Muli;">Give Us Your Honest Review !</h1></center>
        <div class = "row justify-content-center">
            <form id = "form_review" method = "POST" action="make_review">
                {% csrf_token %}
                <div class = "textBox" style="padding-left:3vw; padding-right:3vw; padding-top:3vw; padding-bottom:2.5vw;">
                    <div><input style ="width:100%" type="text" name="name" id="name" placeholder="Enter your name"></div><br>
                    <div><input style ="width:100%" type="text" name="email" id="email" placeholder="Enter your email"></div><br>
                    <div><textarea style ="width:100%" id="review" name="review" placeholder="Give your review"></textarea></div> 
                </div> 
                <center><input class = "submit" type = "submit" value="Submit" name ="submit"></center>
              </form>
        </div>


        {% for review in listReview%}
            <div class = "row justify-content-center">
                 <div class="col" style = "padding-left: 30%;">                    
                    <br><br><br><br>
                    <div class = "row">
                        <strong><p style="text-align: left; "> {{review.name}} </p></strong>&emsp;
                        <p style="text-align: left;">( {{review.email}} )</p>
                        <br>
                    </div>
                    <div class = "row">
                        &emsp;<p class = "textBox" style="text-align: left; font-size: larger; color:white;padding-left:5%; padding-right:5%; margin-right:30%; margin-left:5%;"> {{review.review}} </p>
                        <a href="{% url 'review:delete' review.id %}" id="delete" class="btn btn-light btn-xs" role="button" style="margin-left:5%;" >Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %} 
<!-- 
        <div class="accordion">
                <center><h3 name = "Review" id = "accorTitle">Review</h3></center>
                  <div>
                  </div>
            </div>
        
         -->
        
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

<!-- ini penutup -->
    </body>

    <script type = "text/javascript">
        $(document).on('submit', '#form_review', function(e){
            e.preventDefault();
            $.ajax({
                url : 'make_review',
                type : 'POST',
                data: {
                    name:$('#name').val(),
                    email:$('#email').val(),
                    review:$('#review').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(data){
                    alert("your review has been created");
                    console.log(data);
                    window.location.replace('/review/');
                }
            });
            
        });
    </script>
</html>